# 03.01 Introducing pandas objects

In [6]:
import pandas as pd 
import numpy as np

In numpy we've looked at array and ndarray as the multi-dimensional data structure; In Pandas, we'll have similar data structures: the Series, DataFrame and Index

In [9]:
data1= np.array([0.25,0.5,0.75, 1.0])
type(data1)
data1

array([0.25, 0.5 , 0.75, 1.  ])

In [10]:
data= pd.Series([0.25,0.5,0.75, 1.0])
type(data)
data #Series wraps both sequence of value and sequence of indices

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
data.values #values are simply a familiar array

array([0.25, 0.5 , 0.75, 1.  ])

The essential difference is the presence of the index: numpy array has implicitly defined integer index while pandas series has explicitly defined index associated with the values

### DataFrame as a generalized NumPy array

In [13]:
population_dict = {
                    'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135    
}

In [14]:
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [15]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

In [16]:
states= pd.DataFrame({'population': population,
                     'area':area})

In [17]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

### DataFrame as specialized dictionary

In [19]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [20]:
ind = pd.Index([2, 3, 5, 7, 11])

# 03.02 Data Indexing and Selection

In [21]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [22]:
data['b']

0.5

In [23]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [25]:
data[0:3]

a    0.25
b    0.50
c    0.75
dtype: float64

In [28]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [29]:
data.loc[1]

'a'

In [30]:
data.iloc[1]

'b'

In [31]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [33]:
data.area is data['area']

True

In [36]:
data['density']= data['pop']/data['area']